<header th:fragments="header">
    <nav class="container">
        <div><a th:href="@{/main}"><img src="/image/Logo.svg" alt="Логотип"></a></div>
        <div class="nav-header">
            <a href="" class="">Курсы</a>
            <a th:href="@{/myCourse}">Мои курсы</a>
            <a th:href="@{/addCourse}" class="dynamic__button">Создать курс</a>
            <img th:src="@{image/moon.svg}" id="theme-switcher" class="theme-switcher" onclick="toggleTheme()" alt="текст"/>
        </div>
    </nav>
</header>
