<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/image/ico.png}" />
    <title>Авторизация</title>
</head>
<body>

<main class="auth">
    <div class="auth__forms">
        <form th:action="@{/login}" method="post" class="form__login">
            <h1>Вход</h1>
            <div>
                <label for="username"></label>
                <input type="email" id="username" name="username" placeholder="Введите ваш email" required>
            </div>
            <div>
                <label for="passwordLogin"></label>
                <input type="password" id="passwordLogin" name="password" placeholder="Введите ваш пароль" required>
            </div>
            <div>
                <input type="submit" value="Авторизоваться">
            </div>
            <a onclick="showSignupForm()">Зарегистрироваться</a>
        </form>

        <form th:action="@{/signup}" method="post" class="form__signup" style="display: none">
            <h1>Регистрация</h1>
            <div class="form-group">
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Введите ваш email" required>
            </div>
            <div class="form-group">
                <label for="passwordSignUp"></label>
                <input type="password" id="passwordSignUp" name="password" placeholder="Введите ваш пароль" required>
            </div>
            <div class="form-group">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="Введите ваше имя">
            </div>
            <div class="form-group">
                <label for="surname"></label>
                <input type="text" id="surname" name="surname" placeholder="Введите вашу фамилию">
            </div>
            <div class="form-group">
                <label for="lastname"></label>
                <input type="text" id="lastname" name="lastname" placeholder="Введите ваше отчество">
            </div>
            <div class="form-group">
                <label for="age"></label>
                <input type="number" id="age" name="age" placeholder="Введите ваш возраст">
            </div>
            <div class="form-group">
                <label for="number"></label>
                <input type="tel" id="number" name="number" placeholder="Введите ваш номер телефона">
            </div>
            <div class="form-group">
                <label for="role"></label>
                <select id="role" name="role">
                    <option value="Учитель">Учитель</option>
                    <option value="Студент">Студент</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Зарегистрироваться">
            </div>
            <a onclick="showLoginForm()">Авторизироваться</a>
        </form>
    </div>
</main>

<script>
    function showSignupForm() {
        var loginForm = document.querySelector('.form__login');
        var signupForm = document.querySelector('.form__signup');

        loginForm.style.display = 'none';
        signupForm.style.display = 'block';
    }

    function showLoginForm() {
        var loginForm = document.querySelector('.form__login');
        var signupForm = document.querySelector('.form__signup');

        signupForm.style.display = 'none';
        loginForm.style.display = 'block';
    }

</script>


</body>
</html>
