<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/image/ico.png}" />
    <title>Профиль</title>
</head>
<body>
<th:block th:insert="~{fragments/header :: header}"></th:block>
<div class="page__name">
    <div class="container header__info__name">
        <span th:text="${userInfo.getFio()}"></span>
        <form th:action="@{logout}" method="post">
            <input type="submit" value="Выйти" style="all:unset" class="">
        </form>
    </div>
</div>

<main class="container">
    <div class="profile__main__block">
            <div class="profile__info__block" style="flex-grow: 3;" th:text="${'Имя: ' +userInfo.getName()}"></div>
            <div class="profile__info__block" style="flex-grow: 3;" th:text="${'Фамилия: ' +userInfo.getSurname()}"></div>
            <div class="profile__info__block" style="flex-grow: 3;" th:text="${'Электронная почта: ' + userInfo.getEmail()}"></div>
            <div class="profile__info__block" style="flex-grow: 3; flex-basis: 400px" th:text="${'Возраст: ' +userInfo.getAge()}"></div>
            <div class="profile__info__block" style="flex-grow: 3; flex-basis: 400px" th:text="${'Номер телефона: ' +userInfo.getNumber()}"></div>
            <div class="profile__info__block" style="flex-grow: 3; flex-basis: 400px" th:text="${'Роль: ' +userInfo.getRole()}"></div>
            <div class="profile__info__block" style="flex-grow: 3; flex-basis: 400px"> Будет</div>
    </div>
</main>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body>
</html>

<script th:src="@{'JS/themeJs.js'}"></script>