<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="icon" type="image/png" th:href="@{/image/ico.png}" />
    <title>403</title>

    <style>
        *{
            text-align: center;
        }
        h1{
            margin: 100px 0;
        }
        footer{
            margin-top: 300px;
        }
    </style>

</head>
<body>
<th:block th:insert="~{fragments/header :: header}"></th:block>

<h1>Вы открыли достижение!</h1>
<h1>Впервый, была найдена ошибка 404!</h1>
<a th:href="@{/}" class="a__hover submit__button">Вернуться на главную</a>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body>
</html>

<script th:src="@{'JS/themeJs.js'}"></script>